.list{
  min-height: 700px;
  background-color: transparent;
 /* padding: 24px;*/
}
.nullList{
  min-height: 500px;
  background-color: #ffffff;
}
.tag{
  font-size: 15px;
}
.text{
  text-emphasis-color: black;
}
