.card{
  margin-bottom:5px;
  background-color:#fff;
  height:130px;
  display: flex;
  :global{
    .ant-card{
      .ant-card-actions{
      background: white !important;
      }
    }
  }
}
.tag{
  width:100%;
  background-color: #dee6ec;
}
.userCard{
  display: flex;
}
.icon{
  top: 53%;
  left: 100%;
  position: absolute;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  transform: translate(-50%, -50%);
}
