@import '~antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.main {
  margin: 0 auto;
  width: 1200px;
}

.header {
  position: relative;
  height: 42px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.link{
  &:hover {
    background: @pro-header-hover-bg;
  }
}

.right {
  float: right;
  height: 100%;
  overflow: hidden;
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    > i {
      color: @text-color;
      vertical-align: middle;
    }
    &:hover {
      background: @pro-header-hover-bg;
    }
    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }
  .popCard {
    &:hover {
      .card{
        display: block;
      }
      .account {
        .spanLogin {
          width: 64px;
          height: 64px;
          opacity: 1;
          vertical-align: center;
          z-index: 3;
          transition: 0.3s;
        }
      }
      .avatar {
       /* border: 3px dashed #434e59;
        border-radius: 50% 50% 0 0/100% 100% 0 0;
        border-bottom: none;*/
        width: 64px;
        height: 64px;
        transition: 0.3s;
        vertical-align: center;
      }
    }
    .card {
      padding-top: 30px;
      border:3px dashed #434e59;
      display: none;
      width: 260px;
      top: 42px;
      position: absolute;
      background: #fff;
      z-index: 2;
      .headerMenu{
        border-top: 1px solid #e5e9ef;
        padding: 10px 20px 40px 20px;
      }
    }
    .account {
      position: relative;
      display: inline;
      .avatar {
        margin: 10px 0;
        margin-right: 8px;
        color: @primary-color;
        vertical-align: top;
        transition: 0.3s;
        background: rgba(184, 196, 255, 0.85);
        > img {
          position: absolute;
          z-index: 3;
        }
      }
      .spanLogin {
        position: absolute;
        top:0;
        right: 8px;
        text-align: center;
        line-height: 64px;
        height: 32px;
        width: 32px;
        opacity: 0;
        border-radius: 50%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.6);
        transition:  .3s;
       /* &:hover{
          opacity: 1;
          vertical-align: center;
          z-index: 3;
        }*/
      }
    }
  }
}
